Inpendent Variables:
    GDP per capita
    Human Development Index (HDI)
    Total Population
    Transparency Index

Dependent Variables:
    Total Cases per million
    Total Deaths per million
    People fully vaccinated per hundred
    
Other Data Columns:
    ISO Code
    Continent
    Location
    Date

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from scipy.stats import pearsonr
import gmaps
import requests
import gmaps.datasets
import ipywidgets as widgets
import seaborn as sns; sns.set(style='white')
import gmaps.geojson_geometries

In [2]:
#NEED TO FIND WAY TO GET THIS INTO REPO 
############# NEED TO ADD THESE TO GIT IGNORE ###########################
from configMarc import g_key
gmaps.configure(api_key=g_key)

In [3]:
# Study data files
owidCovidData = "Resources/owid-covid-data.csv"
transparencyData = "Resources/Transparency Index.csv"

CovidData = pd.read_csv(owidCovidData)
Transparency = pd.read_csv(transparencyData)
# Transparency

In [4]:
# eliminate extra columns
CovidClean = CovidData.copy()
CovidClean.drop([ 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'new_cases_per_million', 
                 'new_cases_smoothed_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 
                 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 
                 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 
                 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 
                 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations', 'new_vaccinations_smoothed', 
                 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index',
                 'median_age', 'aged_65_older', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate',
                 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy'],
                 axis = 1, inplace = True)


# limit to max date
CovidClean = CovidClean[CovidClean['date'].isin(['2021-04-27'])]


# rename "Location" to "Country"
CovidClean.rename(columns={"location":"Country"}, inplace=True)

# rename everything else for ease
CovidClean.rename(columns={"total_cases_per_million":"Cases", "total_deaths_per_million": "Deaths", "people_fully_vaccinated_per_hundred":"Vaxxed", 
                           "population": "Population", "population_density": "Density","gdp_per_capita": "GDP", "human_development_index": "HDI"}, inplace=True)

# merge with Transparency (inner join)
CovidAll= pd.merge(CovidClean, Transparency, on=["Country"], how="inner")

CovidClean
CovidAll
CovidAll.to_csv("Resources/CovidWorkingData.csv", index = False)

In [5]:
CovidClean

,iso_code,continent,Country,date,Cases,Deaths,Vaxxed,Population,Density,GDP,HDI
428,AFG,Asia,Afghanistan,2021-04-27,1521.385,66.738,NaN,3.892834e+07,54.422,1803.987,0.511
868,OWID_AFR,NaN,Africa,2021-04-27,3373.910,90.104,0.36,1.340598e+09,NaN,NaN,NaN
1296,ALB,Europe,Albania,2021-04-27,45429.147,828.063,NaN,2.877800e+06,104.871,11803.431,0.795
1724,DZA,Africa,Algeria,2021-04-27,2767.186,73.544,NaN,4.385104e+07,17.348,13913.839,0.748
2146,AND,Europe,Andorra,2021-04-27,169818.158,1604.866,NaN,7.726500e+04,163.755,NaN,0.868
...,...,...,...,...,...,...,...,...,...,...,...
82874,VNM,Asia,Vietnam,2021-04-27,29.351,0.360,NaN,9.733858e+07,308.127,6171.884,0.704
83336,OWID_WRL,NaN,World,2021-04-27,19078.988,402.186,3.19,7.794799e+09,58.045,15469.207,0.737
83719,YEM,Asia,Yemen,2021-04-27,208.543,40.468,NaN,2.982597e+07,53.508,1479.147,0.470
84125,ZMB,Africa,Zambia,2021-04-27,4972.706,67.940,NaN,1.838396e+07,22.995,3689.251,0.584
84529,ZWE,Africa,Zimbabwe,2021-04-27,2567.731,105.296,0.43,1.486293e+07,42.729,1899.775,0.571

In [ ]:
CovidContinent = CovidClean.copy()
# CovidClean = CovidClean[CovidClean['iso_code'].isin(["OWID_AFR"])]
# CovidClean = CovidClean.isna(CovidClean["Density"])
CovidContinent.isna()['continent']

Continent = CovidContinent.loc[CovidContinent.isna()['continent']]
Continent

In [ ]:
CovidAll

In [ ]:
# See if there is substantial difference looking at only the first half of the pandemic

CovidAug20 = CovidData.copy()
CovidAug20.drop([ 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'new_cases_per_million', 
                 'new_cases_smoothed_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 
                 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 
                 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 
                 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 
                 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations', 'new_vaccinations_smoothed', 
                 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index',
                 'median_age', 'aged_65_older', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate',
                 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy'],
                 axis = 1, inplace = True)


# limit to max date
CovidAug20 = CovidAug20[CovidAug20['date'].isin(['2020-08-31'])]

# rename "Location" to "Country"
CovidAug20.rename(columns={"location":"Country"}, inplace=True)

# rename everything else for ease
CovidAug20.rename(columns={"total_cases_per_million":"Cases", "total_deaths_per_million": "Deaths", "people_fully_vaccinated_per_hundred":"Vaxxed", 
                           "population": "Population", "population_density": "Density","gdp_per_capita": "GDP", "human_development_index": "HDI"}, inplace=True)

# merge with Transparency (inner join)
CovidAll820= pd.merge(CovidAug20, Transparency, on=["Country"], how="inner")

# rename index to location

CovidAug20
CovidAll820
CovidAll820.to_csv("Resources/CovidWorkingData820.csv", index = False)

In [ ]:
CovidAll820

In [ ]:
# Pair Plots as of 4/27/2021

# Use Seaborn to create a PairGrid
def corrfunc(x, y, ax=None, **kws):
    """Plot the correlation coefficient in the top left hand corner of a plot."""
    r, _ = pearsonr(x, y)
    ax = ax or plt.gca()
    ax.annotate(f'coor = {r:.2f}', xy=(.1, .9), xycoords=ax.transAxes)

g = sns.pairplot(CovidAll, corner=True)  # Set corner=True to plot only the lower triangle:
g.map_lower(corrfunc)
plt.show()

In [ ]:
# Pair Plots as of 8/31/2020

# Use Seaborn to create a PairGrid
def corrfunc(x, y, ax=None, **kws):
    """Plot the correlation coefficient in the top left hand corner of a plot."""
    r, _ = pearsonr(x, y)
    ax = ax or plt.gca()
    ax.annotate(f'coor = {r:.2f}', xy=(.1, .9), xycoords=ax.transAxes)

g = sns.pairplot(CovidAll820, corner=True)  # Set corner=True to plot only the lower triangle:
g.map_lower(corrfunc)
plt.show()

In [ ]:
# Pair Plots by continent
# Use Seaborn to create a PairGrid
def corrfunc(x, y, ax=None, **kws):
    """Plot the correlation coefficient in the top left hand corner of a plot."""
    r, _ = pearsonr(x, y)
    ax = ax or plt.gca()
    ax.annotate(f'coor = {r:.2f}', xy=(.1, .9), xycoords=ax.transAxes)

g = sns.pairplot(Continent, corner=True)  # Set corner=True to plot only the lower triangle:
g.map_lower(corrfunc)
plt.show()

### Playing with Maps

In [6]:
MapsFrame = CovidClean.copy()
#MapsFrame.dtypes
#MapsFrame["country"].unique()
MapsFrame.head()

,iso_code,continent,Country,date,Cases,Deaths,Vaxxed,Population,Density,GDP,HDI
428,AFG,Asia,Afghanistan,2021-04-27,1521.385,66.738,NaN,3.892834e+07,54.422,1803.987,0.511
868,OWID_AFR,NaN,Africa,2021-04-27,3373.910,90.104,0.36,1.340598e+09,NaN,NaN,NaN
1296,ALB,Europe,Albania,2021-04-27,45429.147,828.063,NaN,2.877800e+06,104.871,11803.431,0.795
1724,DZA,Africa,Algeria,2021-04-27,2767.186,73.544,NaN,4.385104e+07,17.348,13913.839,0.748
2146,AND,Europe,Andorra,2021-04-27,169818.158,1604.866,NaN,7.726500e+04,163.755,NaN,0.868

In [7]:
latlong_df = pd.read_csv("Resources/Country Coordinates.csv")
latlong_df.head()

,latitude,longitude,country,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,33.939110,67.709953,Afghanistan,NaN,NaN,NaN,NaN
1,41.153332,20.168331,Albania,NaN,NaN,NaN,NaN
2,28.033886,1.659626,Algeria,NaN,NaN,NaN,NaN
3,42.546245,1.601554,Andorra,NaN,NaN,NaN,NaN
4,-11.202692,17.873887,Angola,NaN,NaN,NaN,NaN

In [8]:
#TRY TO NOT RERUN THIS BECAUSE IT MAKES YOU RESTART THE KERNAL EVERY TIME!
del latlong_df["Unnamed: 3"]
del latlong_df["Unnamed: 4"]
del latlong_df["Unnamed: 5"]
del latlong_df["Unnamed: 6"]
latlong_df.head()

    latitude  longitude      country
0  33.939110  67.709953  Afghanistan
1  41.153332  20.168331      Albania
2  28.033886   1.659626      Algeria
3  42.546245   1.601554      Andorra
4 -11.202692  17.873887       Angola

In [9]:
#In MapsFrame it is "Country" and in latlong_df it is "country"
latlong_df=latlong_df.rename(columns = {"country" : "Country"})
#latlong_df.head()

In [10]:
map_df=pd.merge(MapsFrame, latlong_df, on="Country", how = "inner")
map_df
#197 rows, 196 countries,  13 columns

,iso_code,continent,Country,date,Cases,Deaths,Vaxxed,Population,Density,GDP,HDI,latitude,longitude
0,AFG,Asia,Afghanistan,2021-04-27,1521.385,66.738,NaN,38928341.0,54.422,1803.987,0.511,33.939110,67.709953
1,ALB,Europe,Albania,2021-04-27,45429.147,828.063,NaN,2877800.0,104.871,11803.431,0.795,41.153332,20.168331
2,DZA,Africa,Algeria,2021-04-27,2767.186,73.544,NaN,43851043.0,17.348,13913.839,0.748,28.033886,1.659626
3,AND,Europe,Andorra,2021-04-27,169818.158,1604.866,NaN,77265.0,163.755,NaN,0.868,42.546245,1.601554
4,AGO,Africa,Angola,2021-04-27,789.320,17.860,NaN,32866268.0,23.890,5819.495,0.581,-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,VEN,South America,Venezuela,2021-04-27,6812.540,73.217,NaN,28435943.0,36.253,16745.022,0.711,6.423750,-66.589730
193,VNM,Asia,Vietnam,2021-04-27,29.351,0.360,NaN,97338583.0,308.127,6171.884,0.704,14.058324,108.277199
194,YEM,Asia,Yemen,2021-04-27,208.543,40.468,NaN,29825968.0,53.508,1479.147,0.470,15.552727,48.516388
195,ZMB,Africa,Zambia,2021-04-27,4972.706,67.940,NaN,18383956.0,22.995,3689.251,0.584,-13.133897,27.849332
196,ZWE,Africa,Zimbabwe,2021-04-27,2567.731,105.296,0.43,14862927.0,42.729,1899.775,0.571,-19.015438,29.154857

In [11]:
#map_df["Country"].unique()

In [12]:
locations = map_df[["latitude","longitude"]]
weights = map_df["Cases"]
fig1 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating=False, max_intensity=400, point_radius = 1)
fig1.add_layer(heat_layer)
#plt.savefig("../output_data/Map1")
#fig1

In [13]:
locations = map_df[["latitude","longitude"]]
weights = map_df["Deaths"]
fig2 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating=False, max_intensity=400, point_radius = 1)
fig2.add_layer(heat_layer)
#plt.savefig("../output_data/Map1")
#fig2

## TRYING TO USE GEOJSON GMAPS

In [14]:
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

fig3 = gmaps.figure()

pop_layer = gmaps.geojson_layer(countries_geojson)
fig3.add_layer(pop_layer)
fig3

Figure(layout=FigureLayout(height='420px'))

In [33]:
test_df = map_df[["Population", "Country"]]
rows = test_df
#rows = map_df["Population"]
country_pop = dict(rows)
country_pop

{'Population': 0      38928341.0
 1       2877800.0
 2      43851043.0
 3         77265.0
 4      32866268.0
           ...
 192    28435943.0
 193    97338583.0
 194    29825968.0
 195    18383956.0
 196    14862927.0
 Name: Population, Length: 197, dtype: float64,
 'Country': 0      Afghanistan
 1          Albania
 2          Algeria
 3          Andorra
 4           Angola
           ...
 192      Venezuela
 193        Vietnam
 194          Yemen
 195         Zambia
 196       Zimbabwe
 Name: Country, Length: 197, dtype: object}

In [34]:
from matplotlib.cm import viridis
from matplotlib.colors import to_hex

In [35]:
min_pop = min(country_pop.values())
max_pop = max(country_pop.values())
pop_range = max_pop - min_pop

TypeError: '<' not supported between instances of 'str' and 'float'

In [25]:
def calculate_color(population):
    
    # make gini a number between 0 and 1
    normalized_pop = (population - min_pop) / pop_range

    # invert gini so that high inequality gives dark color
    inverse_pop = 1.0 - normalized_pop

    # transform the gini coefficient to a matplotlib color
    mpl_color = viridis(inverse_pop)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

In [26]:
colors = []
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']
    try:
        pop = country_pop[country_name]
        color = calculate_color(pop)
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

In [27]:
fig3 = gmaps.figure()
pop_layer = gmaps.geojson_layer(
    countries_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.8)
fig3.add_layer(pop_layer)
fig3

Figure(layout=FigureLayout(height='420px'))